@use "../global/bootstrap.scss";

.languages {
  width: 116px;
  height: 24px;
  display: block;
}

.languages__list {
  @include bootstrap.list-reset;
}

.languages__link {
  width: 116px;
  height: 24px;
  text-decoration: none;
}

.languages__text {
  margin: 0;
  padding-left: 28px;
  width: 116px;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: bootstrap.$color-default-black;
  position: relative;

  &:visited {
    color: bootstrap.$color-default-black;
  }
}

/* активируем подменю */
.languages:hover .languages__item-eng {
  display: flex;
}

.languages:focus-within .languages__item-eng {
  display: flex;
}

/* подменю */
.languages__item-eng {
  display: none;
  flex-direction: row;
  position: absolute;
  z-index: 3;
  cursor: pointer;
}

/* фокусы элементов */
.languages__link:hover {
  opacity: 0.6;
}

.languages__link:active {
  opacity: 0.3;
}

.languages__item:focus-within {
  position: relative;
  z-index: 50;
  outline: 2px solid bootstrap.$color-default-gray;
  outline-offset: 0;
}

// реализация стрелки
.languages__item:first-child .languages__text::after {
  width: 10px;
  height: 6px;
  position: absolute;
  content: "";
  top: 10px;
  right: 8px;
  background-image: url("../../img/control/arrow-down.svg");
  background-repeat: no-repeat;
}

// реализация флагов
.languages__link::before {
  width: 20px;
  height: 20px;
  position: absolute;
  content: "";
}

.languages__link-rus::before {
  background-image: url("../../img/icons-languages/rus.svg");
  background-repeat: no-repeat;
}

.languages__link-eng::before {
  background-image: url("../../img/icons-languages/bel.svg");
  background-repeat: no-repeat;
}

