@use "../global/bootstrap.scss";


.menu {
  position: relative;
}

.menu__list,
.menu__languages-list {
  @include bootstrap.list-reset;
}

.menu__link {
  text-decoration: none;

  // Цвет посещенной ссылки
  &:visited {
    color: inherit;
  }

  @include bootstrap.focus-state;
}


.menu__toggle-title {
  @include bootstrap.visually-hidden;
}

// подложка кнопки
.menu__toggle {
  position: relative;
  width: 20px;
  height: 14px;
  background-color: bootstrap.$color-default-white;
  cursor: pointer;
  border: none;

  @include bootstrap.focus-state;
}

// burger menu
.menu--closed .menu__toggle::before {
  content: "";
  position: absolute;
  background-image: url("../img/control/menu-burger.svg");
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 20px;
  height: 14px;
}

