// Colors
// -----------------------------------


// Default

$color-default-black: #000000;
$color-default-gray: #6f767e;
$color-default-white: #ffffff;

// Button

$color-blue: #3e8bf3;
$color-blue-hover: #3474ca;
$color-blue-active: #295da2;
$color-blue-disabled: #f5f9fe;


// Project palette
// для нейминга цветов используется https://www.htmlcsscolor.com/


// Typography
// -----------------------------------

$ff-firs-neue: "TT Firs Neue", "Arial", sans-serif;
$ff-inter: "Inter", "Arial", sans-serif;


// Viewports

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;
